/** commint made**/
body{
    height: 100%;
    width: 100%;
    margin: 30px;
    padding: 0;
    background: #40A3C9 !important;
}
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}
 .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}
    
.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
 }
    
.searchbar:hover > .search_icon{
    background: white;
    color: #40C957;
}
    
.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
}

.bookDiv {
    border: 2px solid black;
    width: 70%;
    color: black;
    float: right;
    margin-right: 22%;
    margin-top: 8px;
    background: white;
    line-height: 200%;
}

.card {
    float: left;
    padding: 10px;
    /* margin: 2px; */
    margin-left: 110px;
    border: 2px solid black;
}

.card-text {
    font-size: 16px;
}

#text {
    color: tomato;
    
}

.shopping-cart {
    width: 750px;
    height: 423px;
    margin: 80px auto;
    background: #40A3C9;
    /* box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10); */
    border: 6px black;
    display: flex;
    flex-direction: column;
}

.delete-btn,
.rent-btn,
.buy-btn {
    display: inline-block;
    cursor: pointer;
    width: 18px;
    height: 17px;
    color: black;
}

.btn-primary {
    padding: 5px;
    display: block;
    margin-top: 5px;

}

.title {
    font-size: x-large;
}

.form-group {
    width: 100%;
    margin-top: 20px;
}
 #price {
     width: 100px
 }